extends ./Layout_Index.jade
block content
    section(id="acerca")
        div(class="container")
            div(class="row")
                div(class="col-lg-8 mx-auto")
                    h2 Acerca de esta página
                    p(class="lead") Aqui podras consultar tus estadisticas y recomendaciones para evitar el estres
                    ul
                        li Consultar tu historial cardiaco de dias pasados
                        li Ver en tiempo real la grafica de tu estress
                        li Recomendaciones dependiendo el estres y edad
                        li Enlazado con el medico de tu escuela
    section(id="servicios")
        div(class="container")
            div(class="row")
                div(class="col-lg-8 mx-auto")
                    h2 Servicios que ofrecemos
                    p(class="lead") Medicion de tu ritmo cardiaco en tiempo real!
    section(id="contacto")
        div(class="container")
            div(class="row")
                div(class="col-lg-8 mx-auto")
                    h2 Contactanos
                    p(class="lead") Contactanos via Email o por dirección
                    address
                    |   Autores:
                    br
                    a(href="mailto:chuz07@gmail.com") Jorge Regis
                    br
                    a(href="mailto:chuz07@gmail.com") Sergio Benitez
                    br
                    a(href="mailto:chuz07@gmail.com") Miguel Medina
                    br
                    a(href="mailto:chuz07@gmail.com") Adan Esquivel
                    br
                    |   Visitanos en:
                    br
                    |   relaxases.com
                    br
                    |   Av. Juan de Dios Bátiz S/N, Nueva Industrial Vallejo, Gustavo A. Madero, 07738
                    br
                    |   CDMX