extends ./Layout_Index.jade
block content
    section(id="acerca")
        div(class="container")
            div(class="row")
                div(class="col-lg-8 mx-auto")
                    h2 Acerca de esta p치gina
                    p(class="lead") Aqui podras consultar tus estadisticas y recomendaciones para evitar y controlar tu estres
                    ul
                        li Consultar tu historial %SPO2 de mediciones previas.
                        li Ver en tiempo real la grafica de tu estres.
                        li Recomendaciones dependiendo el estres y edad.
                        li Enlazado con el medico de tu escuela.
                        li Dietas recomendadas.
                        li Ejercicios de Respiraci&oacute;n.
    section(id="servicios")
        div(class="container")
            div(class="row")
                div(class="col-lg-8 mx-auto")
                    h2 Servicios que ofrecemos
                    p(class="lead") Medicion de tu nivel de Saturaci칩n de Oxigeno en tiempo real!
    section(id="contacto")
        div(class="container")
            div(class="row")
                div(class="col-lg-8 mx-auto")
                    h2 Contactanos
                    p(class="lead") Contactanos via Email o por direcci칩n
                    address
                    |   Autores:
                    br
                    a(href="mailto:chuz07@gmail.com") Jorge Regis
                    br
                    a(href="mailto:chuz07@gmail.com") Sergio Benitez
                    br
                    a(href="mailto:chuz07@gmail.com") Miguel Medina
                    br
                    a(href="mailto:chuz07@gmail.com") Adan Esquivel
                    br
                    |   Visitanos en:
                    br
                    |   relaxases.com
                    br
                    |   Av. Juan de Dios B치tiz S/N, Nueva Industrial Vallejo, Gustavo A. Madero, 07738
                    br
                    |   CDMX