include ./partitials/navigationUser.jade
include ./partitials/message.jade
doctype html
html(lang="es")
    head
        title Relaxases
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        // ---------------- FONT AWESOME ----------------
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.13.0/css/all.css", integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V", crossorigin="anonymous")
        // -----------  BOOSTRAP 4 --------------
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        //-------------------------------------------------------
        // ----------- GOOGLE FONTS -----------------
        link(href=href = "https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap", rel="stylesheet", type="text/css", media="none", onload="this.media='all';")
        //-------------------------------------------------------
        // ------------- STYLES ---------------------
        link(href="/stylesheets/styles.css", rel="stylesheet")
        //---------------------------------------------------
        meta(name="description" content="Los mejores tips para aliviar tu estrés.")
        meta(name="author" content="Jorge Regis, Miguel Medina, Sergio Benítez y Adan Esquivel")
    body(class="fondo_comple")
        block navigation
        block message
        center
            br
            br
            block content
            br
        //------------------- SCRIPTS ------------------
        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
        script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')