extends ../Layout_Users_Stats.jade
block content
    h1 Graphics Node Arduino
    h3 Nombre: #{user.nombre}
    h5 #{user.email}
    div(class="container")
        canvas(id="myCanvas")
        script.
            var ctx = document.getElementById('myCanvas').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ['Serial'],
                    datasets: [{
                        label: 'Serial',
                        backgroundColor: '#FFFFFF',
                        borderColor: '#FF0000',
                        data: [],
                        pointRadius: 0
                    }]
                },
                options: {}
            });